<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">
11
            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header">CMS系统</li>
                <li><a class="ajax-link" href="/admin/"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                </li>
                <li><a class="ajax-link" href="/admin/categoryList/"><i class="glyphicon glyphicon-eye-open"></i><span> 类别管理</span></a>
                </li>
                <li><a class="ajax-link" href="/admin/articleList/"><i
                                class="glyphicon glyphicon-edit"></i><span> 资讯管理</span></a></li>
                <li><a class="ajax-link" href="/admin/uploadList/"><i class="glyphicon glyphicon-list-alt"></i><span> 上传管理</span></a>
                </li>
                <li><a class="ajax-link" href="/admin/commentList/"><i class="glyphicon glyphicon-font"></i><span> 评论管理</span></a>
                </li>
                <!--
                <li class="accordion">
                    <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Accordion Menu</span></a>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Child Menu 1</a></li>
                        <li><a href="#">Child Menu 2</a></li>
                    </ul>
                </li>
                -->
            </ul>
            <!--<label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>-->
        </div>
    </div>
</div>
<!-- left menu ends -->